@model TheWorld.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Login";
}
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
<div class="row">
    <div class="col-md-12">
        <h2>Welkom @User.Identity.Name</h2>
        <h3>Gegevens: </h3>
        <ul>
            <li>@User.Identity.Name</li>
            <li></li>
        </ul>
        
    </div>
</div>