@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "About page";
}

<h2>@ViewBag.Title</h2>
<p>In de fletnix database bevinden zicht: @ViewBag.totalMovies films</p>