@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "About page";
}

<div class="jumbotron">
    <h1>404 You fucked up...</h1>
    <h2>It's okay</h2>
</div>

