@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "About page";
}

<div class="jumbotron">
    <h1>404 Jammer joh!</h1>
</div>

